@require '../../vars'

.z-metric-chart
  display: flex
  flex-direction: column
  height: 200px
  background: getColor('$bgColor')
  border-radius: 6px
  border: 1px solid getColor('$bgText6')
  padding: 20px

  > .name
    font-subtitle1()
