@require '../../vars'

.z-block
  display: flex
  flex-direction: column
  background: getColor('$bgColor')
  border-radius: 6px
  border: 1px solid getColor('$bgText6')
  padding: 24px

  &.is-pinned
    background: none
    border: none

  > .name
    font-subtitle1(medium)
    margin-bottom: 16px
