@require '../../vars'

.z-edit-metric
  flex1()
  container()
  position: relative

  > .title
    font-h4()

  > .description
    font-body2()
    margin-bottom: 28px

  > .input
    margin-bottom: 16px

  > .transforms
    > .title
      font-subtitle2()
      margin-bottom: 8px

    > .transform
      display: flex
      margin-bottom: 16px

      > .operation
        flex1()
        font-subtitle2()
        width: 72px
        margin-right: 8px

      > .metric
        flex1()
        margin-left: 8px

