@require '../../vars'

.z-block-overview
  > .metrics
    margin-top: 28px

    > .metric
      display: flex
      border-bottom: 1px solid getColor('$bgText6')
      padding: 12px 0

      > .value
        font-h6()
        color: getColor('$upchieve500')
        margin-right: 24px

      > .name
        font-body1(medium)
