@require '../../vars'

.z-block-overview
  > .metrics
    display: grid
    grid-template-columns: auto 1fr

    > .metric-value, > .metric-name
      border-bottom: 1px solid getColor('$bgText6')

      &:nth-last-child(-n+2) // last-row
        border-bottom: none

    > .metric-value
      font-subtitle1()
      padding: 12px 32px 12px 0
      color: getColor('$primaryMain')
      text-align: right

    > .metric-name
      font-body1(medium)
      padding: 12px 0

