@require '../../vars'

.z-block-overview
  > .metrics
    > .metric
      display: flex
      border-bottom: 1px solid getColor('$bgText6')
      padding: 12px 0

      &:last-child
        border-bottom: none

      > .value
        font-h5()
        color: getColor('$upchieve500')
        margin-right: 24px
        width: 60px

      > .name
        font-body1(medium)
