@require '../../vars'

.z-segments
  // container()
  flex1()
  display: flex

  > .sidebar
    display: flex

  > .content
    flex1()
    display: flex
    overflow: auto
    -webkit-overflow-scrolling: touch
