@require '../../vars'

$maxColumns = 2
$columnMin = 320px

.z-dashboard
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch
  background: getColor('$bgColorAlt1')

  &.is-menu-visible
    > .menu > .dashboards
      display: block

    > .content > .top > .name > .arrow
        border-top: none
        border-bottom: 5px solid getColor('$primaryMain')

  > .menu
    background: getColor('$bgColor')
    padding: 16px 16px 0 16px
    border-right: 1px solid getColor('$bgText12')

    > .logo
      font-h5()
      color: getColor('$upchieve500') // FIXME
      margin: 0 12px

      > .data
        color: getColor('$bgText54')

    > .title
      font-h6()
      margin: 48px 12px 0 12px
      display: none

    > .dashboards
      margin-top: 24px
      display: none

      > .dashboard
        font-body2()
        padding: 12px
        display: block
        border-radius: 6px

        &:hover
          background: getColor('$bgColorAlt1')

        &.is-selected
          font-subtitle2()
          background: getColor('$upchieve5008')
          color: getColor('$upchieve500')

  > .content

    > .top
      padding: 24px 30px
      background: getColor('$bgColor')
      border-bottom: 1px solid getColor('$bgText12')

      > .sup
        font-subtitle2(medium)

      > .name
        font-h6()
        position: relative
        display: inline-block
        padding-right: 24px

        > .arrow
          position: absolute
          bottom: 12px
          right: 4px
          width: 0
          height: 0
          border-left: 5px solid transparent
          border-right: 5px solid transparent
          border-top: 5px solid getColor('$primaryMain')


    > .filters
      padding: 32px 32px 0 32px
      display: flex

      > .time-scale
        margin-left: 20px

      > .spinner
        margin-left: 24px
        margin-top: 4px

    > .data
      padding: 32px

      > .pinned-block
        margin-bottom: 16px

      // > .blocks
      //   // https://stackoverflow.com/a/54907809
      //   // max 3 columns, but if they get smaller than $columnMin, reduce # of cols
      //   @media (min-width: $columnMin * $maxColumns)
      //     --repeat: $maxColumns

      //   display: grid
      //   grid-template-columns: repeat(var(--repeat, auto-fit), minmax($columnMin , 1fr))
      //   grid-gap: 20px

  @media (min-width: $breakPointMedium)
    display: grid
    grid-template-columns: 280px 1fr

    > .menu
      padding: 32px 12px

      > .title
        display: block

      > .dashboards
        display: block

    > .content
      > .top
        > .name
          > .arrow
            display: none

      > .data
        display: flex
        flex-direction: row-reverse

        > .pinned-block
          width: 300px
          margin-left: 32px
          margin-bottom: 0

        > .blocks
          flex1()

