@require '../../vars'

$maxColumns = 2
$columnMin = 320px
$pinnedBlockWidth = 300px

.z-dashboard
  flex1()
  background: getColor('$bgColorAlt1')
  overflow: auto
  -webkit-overflow-scrolling: touch

  &.is-menu-visible
    > .content > .top > .name > .arrow
        border-top: none
        border-bottom: 5px solid getColor('$primaryMain')

  > .content
    > .top
      padding: 24px 30px
      background: getColor('$bgColor')
      border-bottom: 1px solid getColor('$bgText12')

      > .sup
        font-subtitle2(medium)

      > .name
        font-h5()
        position: relative
        display: inline-block
        padding-right: 24px

        > .arrow
          position: absolute
          bottom: 12px
          right: 4px
          width: 0
          height: 0
          border-left: 5px solid transparent
          border-right: 5px solid transparent
          border-top: 5px solid getColor('$primaryMain')

    > .data
      padding: 32px

      > .custom-message
        font-body1()
        margin-bottom: 32px
        display: flex
        align-items: center

        > .icon
          margin-right: 20px
          border: 2px solid getColor('$bgText')
          border-radius: 50%
          padding: 6px

        > .text
          > .link
            font-subtitle1()
            text-decoration: underline

      > .filters
        display: flex
        overflow-x: auto
        -webkit-overflow-scrolling: touch
        margin-right: -32px

        > .time-scale
          margin-top: 0
          margin-left: 20px

        > .spinner
          margin-left: 24px
          margin-top: 4px

      > .pinned-block
        margin-bottom: 16px

      // > .blocks
      //   // https://stackoverflow.com/a/54907809
      //   // max 3 columns, but if they get smaller than $columnMin, reduce # of cols
      //   @media (min-width: $columnMin * $maxColumns)
      //     --repeat: $maxColumns

      //   display: grid
      //   grid-template-columns: repeat(var(--repeat, auto-fit), minmax($columnMin , 1fr))
      //   grid-gap: 20px

  > .add
    position: fixed
    bottom: 16px
    right: 16px

  @media (min-width: $breakPointMedium)
    display: grid
    grid-template-columns: 280px 1fr

    > .content
      min-height: 0
      display: flex
      flex-direction: column

      > .top
        > .name
          > .arrow
            display: none

      > .data
        display: grid
        grid-template: 'custom-message custom-message' 'filters filters' 'blocks pinned-block' 'blocks .'
        grid-template-columns: 1fr $pinnedBlockWidth
        grid-column-gap: 32px
        overflow: auto
        -webkit-overflow-scrolling: touch

        > .custom-message
          grid-area: custom-message

        > .filters
          grid-area: filters
          overflow: visible
          margin-bottom: 32px

        > .pinned-block
          grid-area: pinned-block
          position: sticky
          top: 0
          width: $pinnedBlockWidth
          margin-bottom: 0

        > .blocks
          // flex1()
          grid-area: blocks

